
#  [{{ container_id }}] - {{ container_hostname }}
#
################################################################################
#                                                                              #
#  AUTHORIZED ACCESS ONLY                                                      #
#                                                                              #
#  This system is for authorized users only. All activities may be             #
#  monitored and recorded. By accessing this system, you acknowledge           #
#  that you have no reasonable expectation of privacy.                         #
#                                                                              #
#  Unauthorized access is strictly prohibited and may be subject to            #
#  criminal and civil penalties.                                               #
#                                                                              #
#                                                                              #
################################################################################


